<html>
	<head>
		<title>Bunny2020 help page</title>
		<style type="text/css">
        	.container {
        		padding-top: 15px;
            }
    	</style>
	</head>

	<body>
		<div class="container">
			<p> Here are a list of commands currently availabe on Bunny 2020 </p>
			<ul>
				{% for n in command_list %}
				<li>{{n}}</li>
				{% endfor %}
			</ul>
			<p> For any suggestions, reach out to me on github at <a href="https://github.com/koolguru/Bunny2020">Bunny2020</a>.</p>	
			<p>Bunny2020 was developed by <a href="https://jaytayade.com">Jay Tayade</a> and based on jack_bunny and bunny1</p>	
		</div>
	</body>
</html>
